<img src="./unal.png" align=left width="150" height="150"></img>

$\;$
---


<h2 align="center">LECTURA Y ESCRITURA DE ARCHIVOS</h2>

Pandas cuenta con una funcionalidad que facilita el acceso a tus bases de datos

## Indexando archivos en Google Colab

In [ ]:
#!pip install --upgrade pandas
#!pip install pandas==1.0.1

Para dar acceso a los archivos dentro de mi Google Drive, uso la libreria de google **google.colab**. Al especificarse la ruta */content/drive* nos arrojará un link el cual se debe eacceder y dar permisos de accesos, una vez se tenga acceso se debe copiar la clave generada y pegarla en la salida generada en la siguiente celda de código:

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Dado lo anterior se obtiene acceso a las carpetas de Google Drive, ahora bien, para cambiar el directorio con (%cd) y posicionar nuestra carpeta **pandas** se cambia la direccion por medio de la ruta *"/content/drive/My Drive/ColabNotebooks"*. Con !ls se muestran los archivos de nuestra carpeta.

In [2]:
%cd "/content/drive/My Drive/Colab Notebooks"
!ls

/content/drive/My Drive/Colab Notebooks
'Copia de california_housing (1).ipynb'   Pytorch.ipynb
'Copia de california_housing.ipynb'	  t2_Clasificacion_Multinomial.ipynb
 db					  Untitled
 dl-pytorch				  Untitled0.ipynb
 Pandas					  Untitled1.ipynb
 Pruebas

In [3]:
import os
os.chdir("/content/drive/My Drive/Colab Notebooks")
!ls

'Copia de california_housing (1).ipynb'   Pytorch.ipynb
'Copia de california_housing.ipynb'	  t2_Clasificacion_Multinomial.ipynb
 db					  Untitled
 dl-pytorch				  Untitled0.ipynb
 Pandas					  Untitled1.ipynb
 Pruebas

---
## Almacenando información en colab
---

Una forma de almacenar nuestra informacion más eficiente es por medio de:

In [8]:
'Hola {}'.format('blablabla')

'Hola blablabla'

Genero una nueva carpeta en DRIVE llamada **bd** desde nuestro colab:

In [16]:
%mkdir "/content/drive/My Drive/Colab Notebooks/db/"

mkdir: cannot create directory ‘/content/drive/My Drive/Colab Notebooks/db/’: File exists

In [17]:
dir_pandas = "/content/drive/My Drive/Colab Notebooks/db/".format("test.xls")
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/'

In [9]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [10]:
dict_data = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

Una forma de generar un DataFrame por medio de un diccionario, es mediante:

In [11]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [12]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.csv')    #ruta donde se estan guardando los archivos
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

En consecuencia, para generar el archivo **.csv** en colab se procede a especificar por medio del método *to_csv*, se coloca *index=False* de lo contrario se genera el archiv .csv en colab con indices.

In [13]:
df.to_csv(dir_pandas, index = False)    #creando el archivo CSV

In [14]:
!ls '/content/drive/My Drive/Colab Notebooks/db/'    #verificando los archivos existentes

API_AG.LND.AGRI.K2_DS2_en_csv_v2_716226.csv	Meteorite_Landings.csv
API_AG.LND.FRST.K2_DS2_en_csv_v2_716262.csv	poblacion.csv
API_EG.USE.ELEC.KH.PC_DS2_en_csv_v2_715482.csv	test.csv
API_EN.ATM.CO2E.KT_DS2_en_csv_v2_713263.csv	test.hdf
API_SP.POP.TOTL_DS2_en_csv_v2_713131.csv	test.json
covid_19.csv					test.parquet
GlobalLandTemperaturesByCountry.csv		test.pkl
london_merged.csv				test.xlsx

---
## Leer archivos csv que se encuentran en colab (sep por ,)
---

In [19]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv')
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

---
## Leer archivos csv (separados por | )
---

In [20]:
df.to_csv(dir_pandas, sep = '|', index = False)    #Especificando la separacion

In [21]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv', sep = '|')
df_read

  edad,cm,pais,genero,Q1,Q2
0       10,115,co,M,5.0,7.0
1       9,110,mx,F,10.0,9.0
2       13,130,co,F,8.0,9.0
3          14,155,mx,M,,8.0
4       12,125,mx,M,7.0,8.0
5       11,120,ch,M,8.0,8.0
6       12,125,ch,F,3.0,9.0

---
## Generar archivo Excel
---

In [ ]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'    #ruta donde se estan guardando los archivos, sin el .format{}
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/{}'

In [ ]:
df.to_excel(dir_pandas.format('test.xlsx'), index=False, sheet_name='Hoja_uno')      #Creando archivo excel

In [ ]:
dir_pandas.format('test.xlsx')                   #Ubicacion del archivo

'/content/drive/My Drive/Colab Notebooks/db/test.xlsx'

Leyendo el archivo excel que se encuentra guardado en colab:

In [ ]:
pd.read_excel(dir_pandas.format('test.xlsx'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

---
## Generar archivo Json
---

In [ ]:
df.to_json(dir_pandas.format('test.json'))     #generando archivo JSON (similar a un diccionario PYTHON)

In [ ]:
pd.read_json(dir_pandas.format('test.json'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

---
## Generar archivo de datos binarios 
---

In [ ]:
df.to_pickle(dir_pandas.format('test.pkl'))    #formato pickle (usado cuando la base de datos es tamaño mediano)

In [ ]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

---
## Generar archivo de datos parquet
---

In [ ]:
df.to_parquet(dir_pandas.format('test.parquet'))

In [ ]:
pd.read_parquet(dir_pandas.format('test.parquet'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

---
## Generar archivo de datos test
---

In [ ]:
df.to_hdf(dir_pandas.format('test.hdf'),key='data',format='table')

In [ ]:
pd.read_hdf(dir_pandas.format('test.hdf'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

## Referencias

* https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html