<img src="./unal.png" align=left width="150" height="150"></img>

$\;$
---

<h2 align="center">BICICLETAS COMPARTIDAS EN LONDRES</h2>

El presente hace referencia a un conjunto de datos de transporte gratuito en Londres, se describe por 17414 observaciones y 10 variables las cuales están caracterizadass por, el tiempo, la temperatura, la sensación térmica, humedad del ambiente, la velocidad del tiempo, la temporada, etc.

In [1]:
#!pip install --upgrade pandas
#!pip install pandas==1.0.1

Requirement already satisfied: pandas==1.0.1 in /usr/local/lib/python3.6/dist-packages (1.0.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas==1.0.1) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==1.0.1) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas==1.0.1) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas==1.0.1) (1.15.0)

Para dar acceso a los archivos dentro de mi Google Drive, uso la libreria de google **google.colab**. Al especificarse la ruta */content/drive* nos arrojará un link el cual se debe eacceder y dar permisos de accesos, una vez se tenga acceso se debe copiar la clave generada y pegarla en la salida generada en la siguiente celda de código:

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

Dado lo anterior se obtiene acceso a las carpetas de Google Drive, ahora bien, para cambiar el directorio con (%cd) y posicionar nuestra carpeta **pandas** se cambia la direccion por medio de la ruta "/content/drive/My Drive/ColabNotebooks". Con !ls se muestran los archivos de nuestra carpeta.

In [2]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
Meteorite_Landings.csv	test.hdf   test.parquet  test.xlsx
test.csv		test.json  test.pkl

---
## Cargando información alojada en colab
---

Una forma de importar nuestra informacion más eficiente es por medio de:

In [5]:
import pandas as pd
import numpy as np
pd.__version__

'1.0.1'

In [8]:
df_lmerged = pd.read_csv('london_merged.csv')
df_lmerged

                 timestamp   cnt   t1  ...  is_holiday  is_weekend  season
0      2015-01-04 00:00:00   182  3.0  ...         0.0         1.0     3.0
1      2015-01-04 01:00:00   138  3.0  ...         0.0         1.0     3.0
2      2015-01-04 02:00:00   134  2.5  ...         0.0         1.0     3.0
3      2015-01-04 03:00:00    72  2.0  ...         0.0         1.0     3.0
4      2015-01-04 04:00:00    47  2.0  ...         0.0         1.0     3.0
...                    ...   ...  ...  ...         ...         ...     ...
17409  2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410  2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411  2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412  2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413  2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[17414 rows x 10 columns]

In [9]:
df_lmerged.dtypes        #Para conocer el tipo de variables en el DataFrame

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

La línea anterior logra caracterizar al tiempo como un fomrato objeto, en consecuencia es necesario arreglar el tipo de variable:

In [10]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])    #Pasando el formato a fecha
df_lmerged['timestamp']

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

In [11]:
df_lmerged['hour'] = df_lmerged['timestamp'].dt.hour   #identificando las horas
df_lmerged['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

In [12]:
df = df_lmerged.iloc[:, 1:]     #quitando el tiempo en el DataFrame por medio de un slice
df

        cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hour
0       182  3.0  2.0   93.0  ...         0.0         1.0     3.0     0
1       138  3.0  2.5   93.0  ...         0.0         1.0     3.0     1
2       134  2.5  2.5   96.5  ...         0.0         1.0     3.0     2
3        72  2.0  2.0  100.0  ...         0.0         1.0     3.0     3
4        47  2.0  0.0   93.0  ...         0.0         1.0     3.0     4
...     ...  ...  ...    ...  ...         ...         ...     ...   ...
17409  1042  5.0  1.0   81.0  ...         0.0         0.0     3.0    19
17410   541  5.0  1.0   81.0  ...         0.0         0.0     3.0    20
17411   337  5.5  1.5   78.5  ...         0.0         0.0     3.0    21
17412   224  5.5  1.5   76.0  ...         0.0         0.0     3.0    22
17413   139  5.0  1.0   76.0  ...         0.0         0.0     3.0    23

[17414 rows x 10 columns]

In [14]:
np.sin(df['wind_speed']**2) + 10  #Hallando la potencia en una variable, hallando el seno de una variable al cuadrado

0         9.008221
1         9.867648
2        10.000000
3        10.000000
4         9.013013
           ...
17409    10.279387
17410    10.923470
17411     9.114047
17412    10.936473
17413    10.193503
Name: wind_speed, Length: 17414, dtype: float64

---
## Operaciones entre columnas
---

In [15]:
df['t1']-df['t2']    #diferencia entre temperaturas

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [17]:
df['t1'].iloc[::2]  #trayendo las observaciones pares

0        3.0
2        2.5
4        2.0
6        1.0
8        1.5
        ...
17404    6.0
17406    6.0
17408    5.0
17410    5.0
17412    5.5
Name: t1, Length: 8707, dtype: float64

In [19]:
df['t1'].iloc[::3]-df['t2']      #donde4 hace falta observaciones se llaman NaN

0        1.0
1        NaN
2        NaN
3        0.0
4        NaN
        ...
17409    4.0
17410    NaN
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

Inputando con el valor 1000

In [20]:
df['t1'].iloc[::3].sub(df['t2'], fill_value = 1000)   #Llenando los campos con valores nulos con 1000

0           1.0
1         997.5
2         997.5
3           0.0
4        1000.0
          ...
17409       4.0
17410     999.0
17411     998.5
17412       4.0
17413     999.0
Length: 17414, dtype: float64

---
## Otras abreviaciones
---



```
+    add()
-    sub(), subtract()
*    mul(), multiply()
/    truediv(), div(), divide()
//   floordiv()
%    mod()
**   pow()
```

In [21]:
df['t1']/df['t2']

0        1.500000
1        1.200000
2        1.000000
3        1.000000
4             inf
           ...
17409    5.000000
17410    5.000000
17411    3.666667
17412    3.666667
17413    5.000000
Length: 17414, dtype: float64

---
## Producto punto con Pandas
---

Multiplicar los componentes de dos vectores componente a componente y luegi sumar.

In [22]:
df['t1'].dot(df['t1'])

3247652.777777778

---
## Funciones y funciones Lambda
---

In [9]:
'''
Funcion que eleva al cuadrado cualquier valor y le suma 1
'''


def fun_1(x):
  y = x**2 + 1
  return y

In [2]:
fun_1(10)

101

In [6]:
np.arange(-5,6)

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [7]:
np.arange(-5,6).shape

(11,)

In [8]:
fun_1(np.arange(-5,6))

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26], dtype=int32)

---
## Aplicar funciones a un DataFrame      (funcion apply)
---

In [28]:
df['hour'].apply(fun_1)     #aplicando un metodo que aqui será funciópn.

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

In [10]:
'''
Generando nueva función que tiene nuevos argumentos.
'''

def fun_2(x, a=1, b=0):
  y = x**2 + a*x + b
  return y

In [30]:
fun_2(10, a = 20, b= -100)

200

In [31]:
df['hour'].apply(fun_2, args = (20, -100))    #aplicando funciones

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

In [32]:
df['hour'].apply(fun_2, a =20, b= -100)

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

---
## Funciones lambda
---

In [33]:
df['t1'].apply(lambda x: x+273)

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

In [ ]:
df.apply(lambda x: x.mean())         #aplicando a todo el DataFrame

In [35]:
df.apply(lambda x: x.mean(), axis=1)    #aplicando la media en las filas

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64

In [36]:
df.apply(lambda x: x.std(), axis=1)   #aplicando desviación str

0         60.787517
1         49.012045
2         48.779692
3         36.249751
4         30.642427
            ...
17409    325.831944
17410    168.138964
17411    104.504505
17412     70.027296
17413     45.710320
Length: 17414, dtype: float64

In [37]:
df.apply(lambda x: x['t1']-x['t2'], axis=1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [38]:
df.applymap(lambda x: x/1000)    #applymap usa todos los valores del DatFrame y aplica la función creada

         cnt      t1      t2     hum  ...  is_holiday  is_weekend  season   hour
0      0.182  0.0030  0.0020  0.0930  ...         0.0       0.001   0.003  0.000
1      0.138  0.0030  0.0025  0.0930  ...         0.0       0.001   0.003  0.001
2      0.134  0.0025  0.0025  0.0965  ...         0.0       0.001   0.003  0.002
3      0.072  0.0020  0.0020  0.1000  ...         0.0       0.001   0.003  0.003
4      0.047  0.0020  0.0000  0.0930  ...         0.0       0.001   0.003  0.004
...      ...     ...     ...     ...  ...         ...         ...     ...    ...
17409  1.042  0.0050  0.0010  0.0810  ...         0.0       0.000   0.003  0.019
17410  0.541  0.0050  0.0010  0.0810  ...         0.0       0.000   0.003  0.020
17411  0.337  0.0055  0.0015  0.0785  ...         0.0       0.000   0.003  0.021
17412  0.224  0.0055  0.0015  0.0760  ...         0.0       0.000   0.003  0.022
17413  0.139  0.0050  0.0010  0.0760  ...         0.0       0.000   0.003  0.023

[17414 rows x 10 columns]