In [7]:
import pandas as pd
data = {'names':['Sara Moreno 34',
                 'jUAn GOMez 23',
                 'CArlos mArtinez 89',
                 'Alfredo VelaZques 3',
                 'luis Mora 56',
                 '@freddier #platzi 10',pd.NA]}

In [32]:
df = pd.DataFrame(data)
df.dtypes

names    object
dtype: object

In [43]:
df['names'].str.upper()

0          SARA MORENO 34
1           JUAN GOMEZ 23
2      CARLOS MARTINEZ 89
3     ALFREDO VELAZQUES 3
4            LUIS MORA 56
5    @FREDDIER #PLATZI 10
6                    <NA>
Name: names, dtype: object

In [48]:
df['names'].str.split('#')

0           [Sara Moreno 34]
1            [jUAn GOMez 23]
2       [CArlos mArtinez 89]
3      [Alfredo VelaZques 3]
4             [luis Mora 56]
5    [@freddier , platzi 10]
6                       <NA>
Name: names, dtype: object

In [49]:
df['names'].str.split('')

0       [, S, a, r, a,  , M, o, r, e, n, o,  , 3, 4, ]
1          [, j, U, A, n,  , G, O, M, e, z,  , 2, 3, ]
2    [, C, A, r, l, o, s,  , m, A, r, t, i, n, e, z...
3    [, A, l, f, r, e, d, o,  , V, e, l, a, Z, q, u...
4             [, l, u, i, s,  , M, o, r, a,  , 5, 6, ]
5    [, @, f, r, e, d, d, i, e, r,  , #, p, l, a, t...
6                                                 <NA>
Name: names, dtype: object

In [66]:
df['names'].str[-5:]

0    no 34
1    ez 23
2    ez 89
3    ues 3
4    ra 56
5    zi 10
6     <NA>
Name: names, dtype: object

In [67]:
df['names'].str.replace('Alfredo','Antonio')

0          Sara Moreno 34
1           jUAn GOMez 23
2      CArlos mArtinez 89
3     Antonio VelaZques 3
4            luis Mora 56
5    @freddier #platzi 10
6                    <NA>
Name: names, dtype: object

In [68]:
df['names'].str.findall('ara')

0    [ara]
1       []
2       []
3       []
4       []
5       []
6     <NA>
Name: names, dtype: object

In [70]:
df['names'].str.contains('o')

0     True
1    False
2     True
3     True
4     True
5    False
6     <NA>
Name: names, dtype: object

In [71]:
df['names'].str.lower().str.count('a')

0       2
1       1
2       2
3       2
4       1
5       1
6    <NA>
Name: names, dtype: object

In [72]:
df['names'].str.extract('([0-9]+)', expand=False)

0     34
1     23
2     89
3      3
4     56
5     10
6    NaN
Name: names, dtype: object

In [73]:
df['names'].str.replace('@[^\s]+','')

0         Sara Moreno 34
1          jUAn GOMez 23
2     CArlos mArtinez 89
3    Alfredo VelaZques 3
4           luis Mora 56
5             #platzi 10
6                   <NA>
Name: names, dtype: object